fastapi>=0.110.0
uvicorn>=0.24.0
setuptools
sqlalchemy==2.0.23
alembic==1.12.1
psycopg2-binary==2.9.9
pydantic[email]>=2.5.2
email-validator==2.1.0.post1
pydantic-settings==2.1.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
redis==4.6.0
celery==5.3.4
python-dotenv==1.0.0
pypdf2==3.0.1
pdfplumber>=0.10.3
httpx>=0.25.1
fastapi-limiter==0.1.5
bcrypt==4.0.1
pycryptodome==3.19.0
openai>=1.13.3
tiktoken>=0.5.1
numpy>=1.26.4
pymilvus>=2.4.0
marshmallow==3.20.1
crewai==0.86.0
crewai-tools>=0.17.0
